{% extends 'todo/base.html' %}

{% block content %}
<h2>TODOリスト</h2>
<table class="col l12 responsive-table">
    <tr>
        <th>タイトル</th>
        <th>作成日</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
    </tr>
    {% for todo in todo_list %}
    <tr>
        <td><a href="{% url 'todo:detail' todo.pk %}">{{ todo.title }}</a></td>
        <td>{{ todo.date }}</td>
        {% if todo.check %}
        <td><i class="material-icons">check</i></td>
        {% else %}
        <td><i class="material-icons">check_box_outline_blank</i></td>
        {% endif %}
        <td><a href="{% url 'todo:update' todo.pk %}">更新</a></td>
        <td><a href="{% url 'todo:delete' todo.pk %}">削除</a></td>
    </tr>
    {% endfor %}
</table>
<!-- 
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.previous_page_number }}">次へ</a>
{% endif %} -->
    
    
{% endblock content %}